.ct-header {
    background-color: var(--ct-color-bg-secondary);
    color: var(--ct-color-font-primary);
    height: 70px;    
    display: flex;
    align-items: center;
}

.ct-header h1{
    text-align: center;
    font-size: 20px;
}

@media (min-width: 576px){
    .ct-header h1{
        font-size: 24px;
    }
}