@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --ct-color-bg-primary: #FFF;
  --ct-color-bg-secondary: #3C9AF0;
  --ct-color-bg-tertiary: #C8C8C8;

  --ct-color-font-primary: #FFF;
  --ct-color-font-secondary: #5E5E5E;
  --ct-color-font-tertiary: #3C9AF0;

  --ct-color-decoration: #3C9AF0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.ct-container{
  padding: 0px 20px 20px 20px;
  margin:0 auto;
}